# .NET
bin/
obj/
*.dll
*.exe
*.pdb

# SQLite
*.db
*.db-journal

# Logs
Logs/
*.log

# User-specific files
*.user
*.suo
.vs/

# Exportaciones
Exportaciones/

# Plantillas generadas
Plantillas/

# Coverage
coverage/
*.cobertura.xml
/NuGetLocal/packages
/publish
NuGetLocal/extensions/sqlite-viewer-0.5.13.vsix
/NuGetLocal
/publish.old
/Tools
