<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="Package source Local" value="D:\PrjSC#\PDL\FichaCosto\PDL-FC-MVP\NuGetLocal\packages" />
		<add key="Package source Oficial" value="https://packagesource" />
	</packageSources>
</configuration>