<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  
  <Package Name="FichaCosto Service" 
           Language="1033" 
           Version="0.6.2" 
           Manufacturer="PDL" 
           UpgradeCode="7a40714b-cf06-4196-9cf8-f7f8065efe89" 
           Scope="perMachine">
    
    <MajorUpgrade DowngradeErrorMessage="Una version anterior ya esta instalada." />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="ProductFeature" Title="FichaCosto Service" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ServiceComponents" />
      <ComponentGroupRef Id="DataFiles" />
    </Feature>
    
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="FichaCostoService" />
    </StandardDirectory>
    
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="DATAFOLDER" Name="FichaCostoService">
        <Directory Id="LOGSFOLDER" Name="Logs" />
        <Directory Id="DATADB" Name="Data" />
      </Directory>
    </StandardDirectory>
    
  </Package>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main executable and service DLL -->
      <Component Id="MainExe" Guid="*">
        <File Id="SvcExe" Source="$(var.PublishDir)\FichaCosto.Service.exe" KeyPath="yes" />
      </Component>
      <Component Id="MainDll" Guid="*">
        <File Id="SvcDll" Source="$(var.PublishDir)\FichaCosto.Service.dll" />
      </Component>
      
      <!-- Microsoft.Data.Sqlite and SQLite -->
      <Component Id="MsDataSqlite" Guid="*">
        <File Id="MsDataSqlite" Source="$(var.PublishDir)\Microsoft.Data.Sqlite.dll" />
      </Component>
      <Component Id="esqlite3" Guid="*">
        <File Id="esqlite3" Source="$(var.PublishDir)\e_sqlite3.dll" />
      </Component>
      <Component Id="SQLitePCLRawCore" Guid="*">
        <File Id="SQLitePCLRawCore" Source="$(var.PublishDir)\SQLitePCLRaw.core.dll" />
      </Component>
      <Component Id="SQLitePCLRawProvider" Guid="*">
        <File Id="SQLitePCLRawProvider" Source="$(var.PublishDir)\SQLitePCLRaw.provider.e_sqlite3.dll" />
      </Component>
      <Component Id="SQLitePCLRawBatteries" Guid="*">
        <File Id="SQLitePCLRawBatteries" Source="$(var.PublishDir)\SQLitePCLRaw.batteries_v2.dll" />
      </Component>
      
      <!-- Entity Framework Core -->
      <Component Id="EFCore" Guid="*">
        <File Id="EFCore" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.dll" />
      </Component>
      <Component Id="EFCoreSqlite" Guid="*">
        <File Id="EFCoreSqlite" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.Sqlite.dll" />
      </Component>
      <Component Id="EFCoreRelational" Guid="*">
        <File Id="EFCoreRelational" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.Relational.dll" />
      </Component>
      <Component Id="EFCoreAbstractions" Guid="*">
        <File Id="EFCoreAbstractions" Source="$(var.PublishDir)\Microsoft.EntityFrameworkCore.Abstractions.dll" />
      </Component>
      <Component Id="EFCoreDependencyModel" Guid="*">
        <File Id="EFCoreDependencyModel" Source="$(var.PublishDir)\Microsoft.Extensions.DependencyModel.dll" />
      </Component>
      
      <!-- Serilog -->
      <Component Id="Serilog" Guid="*">
        <File Id="Serilog" Source="$(var.PublishDir)\Serilog.dll" />
      </Component>
      <Component Id="SerilogAspNetCore" Guid="*">
        <File Id="SerilogAspNetCore" Source="$(var.PublishDir)\Serilog.AspNetCore.dll" />
      </Component>
      <Component Id="SerilogFile" Guid="*">
        <File Id="SerilogFile" Source="$(var.PublishDir)\Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="SerilogConsole" Guid="*">
        <File Id="SerilogConsole" Source="$(var.PublishDir)\Serilog.Sinks.Console.dll" />
      </Component>
      <Component Id="SerilogDebug" Guid="*">
        <File Id="SerilogDebug" Source="$(var.PublishDir)\Serilog.Sinks.Debug.dll" />
      </Component>
      <Component Id="SerilogSettings" Guid="*">
        <File Id="SerilogSettings" Source="$(var.PublishDir)\Serilog.Settings.Configuration.dll" />
      </Component>
      <Component Id="SerilogExtensions" Guid="*">
        <File Id="SerilogExtensions" Source="$(var.PublishDir)\Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="SerilogExtensionsLogging" Guid="*">
        <File Id="SerilogExtensionsLogging" Source="$(var.PublishDir)\Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="SerilogFormatting" Guid="*">
        <File Id="SerilogFormatting" Source="$(var.PublishDir)\Serilog.Formatting.Compact.dll" />
      </Component>
      
      <!-- FluentValidation -->
      <Component Id="FluentValidation" Guid="*">
        <File Id="FluentValidation" Source="$(var.PublishDir)\FluentValidation.dll" />
      </Component>
      <Component Id="FluentValidationAspNet" Guid="*">
        <File Id="FluentValidationAspNet" Source="$(var.PublishDir)\FluentValidation.AspNetCore.dll" />
      </Component>
      <Component Id="FluentValidationDI" Guid="*">
        <File Id="FluentValidationDI" Source="$(var.PublishDir)\FluentValidation.DependencyInjectionExtensions.dll" />
      </Component>
      
      <!-- Dapper -->
      <Component Id="Dapper" Guid="*">
        <File Id="Dapper" Source="$(var.PublishDir)\Dapper.dll" />
      </Component>
      
      <!-- ClosedXML -->
      <Component Id="ClosedXML" Guid="*">
        <File Id="ClosedXML" Source="$(var.PublishDir)\ClosedXML.dll" />
      </Component>
      <Component Id="ClosedXMLParser" Guid="*">
        <File Id="ClosedXMLParser" Source="$(var.PublishDir)\ClosedXML.Parser.dll" />
      </Component>
      
      <!-- Swashbuckle -->
      <Component Id="Swashbuckle" Guid="*">
        <File Id="Swashbuckle" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.Swagger.dll" />
      </Component>
      <Component Id="SwashbuckleUI" Guid="*">
        <File Id="SwashbuckleUI" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.SwaggerUI.dll" />
      </Component>
      <Component Id="SwashbuckleGen" Guid="*">
        <File Id="SwashbuckleGen" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.SwaggerGen.dll" />
      </Component>
      <Component Id="SwashbuckleAnnotations" Guid="*">
        <File Id="SwashbuckleAnnotations" Source="$(var.PublishDir)\Swashbuckle.AspNetCore.Annotations.dll" />
      </Component>
      
      <!-- Microsoft.OpenApi -->
      <Component Id="MicrosoftOpenApi" Guid="*">
        <File Id="MicrosoftOpenApi" Source="$(var.PublishDir)\Microsoft.OpenApi.dll" />
      </Component>
      
      <!-- Microsoft.Extensions -->
      <Component Id="MicrosoftHostingWindows" Guid="*">
        <File Id="MicrosoftHostingWindows" Source="$(var.PublishDir)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
      </Component>
      
      <!-- System -->
      <Component Id="SystemServiceProcess" Guid="*">
        <File Id="SystemServiceProcess" Source="$(var.PublishDir)\System.ServiceProcess.ServiceController.dll" />
      </Component>
      <Component Id="SystemIOPackaging" Guid="*">
        <File Id="SystemIOPackaging" Source="$(var.PublishDir)\System.IO.Packaging.dll" />
      </Component>
      <Component Id="SixLaborsFonts" Guid="*">
        <File Id="SixLaborsFonts" Source="$(var.PublishDir)\SixLabors.Fonts.dll" />
      </Component>
      <Component Id="ExcelNumberFormat" Guid="*">
        <File Id="ExcelNumberFormat" Source="$(var.PublishDir)\ExcelNumberFormat.dll" />
      </Component>
      <Component Id="DocumentFormatOpenXml" Guid="*">
        <File Id="DocumentFormatOpenXml" Source="$(var.PublishDir)\DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="DocumentFormatOpenXmlFramework" Guid="*">
        <File Id="DocumentFormatOpenXmlFramework" Source="$(var.PublishDir)\DocumentFormat.OpenXml.Framework.dll" />
      </Component>
      <Component Id="RBush" Guid="*">
        <File Id="RBush" Source="$(var.PublishDir)\RBush.dll" />
      </Component>
      
      <!-- Config files -->
      <Component Id="AppSettings" Guid="*">
        <File Id="AppSettings" Source="$(var.PublishDir)\appsettings.json" />
      </Component>
      <Component Id="AppSettingsProduction" Guid="*">
        <File Id="AppSettingsProduction" Source="$(var.PublishDir)\appsettings.Production.json" />
      </Component>
      <Component Id="AppSettingsDevelopment" Guid="*">
        <File Id="AppSettingsDevelopment" Source="$(var.PublishDir)\appsettings.Development.json" />
      </Component>
      <Component Id="WebConfig" Guid="*">
        <File Id="WebConfig" Source="$(var.PublishDir)\web.config" />
      </Component>
      <Component Id="RuntimeConfig" Guid="*">
        <File Id="RuntimeConfig" Source="$(var.PublishDir)\FichaCosto.Service.runtimeconfig.json" />
      </Component>
      <Component Id="DepsJson" Guid="*">
        <File Id="DepsJson" Source="$(var.PublishDir)\FichaCosto.Service.deps.json" />
      </Component>
      <Component Id="StaticWebAssets" Guid="*">
        <File Id="StaticWebAssets" Source="$(var.PublishDir)\FichaCosto.Service.staticwebassets.endpoints.json" />
      </Component>
      
    </ComponentGroup>
  </Fragment>
  
<Fragment>
    <ComponentGroup Id="ServiceComponents" Directory="INSTALLFOLDER">
      <Component Id="ServiceInstaller" Guid="F4FAC3F2-3E5B-4453-9FC2-3C79EEE9BBFC">
        <ServiceInstall Id="FichaCostoServiceInstall" Name="FichaCostoService" DisplayName="FichaCosto Service" Description="Servicio de fichas de costo" Start="auto" Type="ownProcess" ErrorControl="normal" Account="NT AUTHORITY\SYSTEM" />
        <ServiceControl Id="StartService" Name="FichaCostoService" Stop="both" Remove="uninstall" />
      </Component>
      <Component Id="DataFolderComponent" Guid="8185949A-DB43-4596-BC1D-67D7FA29F020">
        <CreateFolder />
      </Component>
      <Component Id="LogsFolderComponent" Guid="10E6C21A-69D9-4EEB-A5F5-016629701435">
        <CreateFolder />
      </Component>
      <Component Id="DBFolderComponent" Guid="8F141158-CF7D-4F62-87D5-485A89CEE52A">
        <CreateFolder />
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="DataFiles" Directory="DATADB">
      <Component Id="SchemaSql" Guid="*">
        <File Id="Schema" Source="$(var.PublishDir)\Data\Schema.sql" />
      </Component>
      <Component Id="SeedDataSql" Guid="*">
        <File Id="SeedData" Source="$(var.PublishDir)\Data\SeedData.sql" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>